<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idler1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{19,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{19,33}</string>
                <key>textureRect</key>
                <string>{{0,299},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{19,33}</string>
                <key>textureRect</key>
                <string>{{0,332},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{0,365},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{19,32}</string>
                <key>textureRect</key>
                <string>{{0,32},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{19,32}</string>
                <key>textureRect</key>
                <string>{{0,64},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{19,33}</string>
                <key>textureRect</key>
                <string>{{0,96},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{0,129},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{0,163},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{0,197},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{0,231},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idler9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{0,265},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idler.png</string>
            <key>size</key>
            <string>{19,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9260a9312d0a77ffec25b196f4322fc1:a936b1d8b127ed56746ad9be76ab0b21:09e2b4523470e288fdc19540440b33cc$</string>
            <key>textureFileName</key>
            <string>idler.png</string>
        </dict>
    </dict>
</plist>
