<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{0,340},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{0,272},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{0,204},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{0,136},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{0,68},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttonPress.png</string>
            <key>size</key>
            <string>{64,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b70713def7cb861623160c88529cf0f8:4aa43d195e58ac2d418e84c73b90cc3b:0c766c8fdc328f145d0d19b4d01b2709$</string>
            <key>textureFileName</key>
            <string>buttonPress.png</string>
        </dict>
    </dict>
</plist>
