<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fallLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fallLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,35}</string>
                <key>textureRect</key>
                <string>{{1,37},{20,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fallLeft.png</string>
            <key>size</key>
            <string>{22,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e31e939b6d6852f9dbc8c944a5a5823:c1e4228b3ecf06d70489bddf90903893:1ea72ceb6e9869db801c7afe958e7cb0$</string>
            <key>textureFileName</key>
            <string>fallLeft.png</string>
        </dict>
    </dict>
</plist>
