<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>landing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,35}</string>
                <key>spriteSourceSize</key>
                <string>{20,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fall.png</string>
            <key>size</key>
            <string>{22,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e976d94366dec70255e435b42b5276ab:b61970e15761d1a64e8d193798c8dfa4:1019844efcac5c9a306b32841df54365$</string>
            <key>textureFileName</key>
            <string>fall.png</string>
        </dict>
    </dict>
</plist>
