<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>idlela.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{19,32}</string>
			<key>textureRect</key>
			<string>{{1,1},{19,32}}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteSize</key>
			<string>{21,34}</string>
		</dict>
		<key>idlelb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string>{19,32}</string>
			<key>textureRect</key>
			<string>{{1,35},{19,32}}</string>
			<key>textureRotated</key>
			<false/>
			<key>spriteSize</key>
			<string>{21,34}</string>
		</dict>
		<key>idlelc.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,32}</string>
			<key>textureRect</key>
			<string>{{1,69},{19,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idleld.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,33}</string>
			<key>textureRect</key>
			<string>{{1,103},{19,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlele.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,138},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlelf.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,174},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlelg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,210},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlelh.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,246},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idleli.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,282},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlelj.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,33}</string>
			<key>textureRect</key>
			<string>{{1,318},{19,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlelk.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,33}</string>
			<key>textureRect</key>
			<string>{{1,353},{19,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlell.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,388},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>size</key>
		<string>{21,423}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1ca70a7e6f57a76924b2408e9ec72eca:4bc29d75c09875318e2f7bd2045b67f2:91f6a3a17d20bf9f0c63e0df4c259498$</string>
		<key>realTextureFileName</key>
		<string>idlel.png</string>
		<key>textureFileName</key>
		<string>idlel.png</string>
	</dict>
</dict>
</plist>
