<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>idler.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,32}</string>
			<key>spriteSourceSize</key>
			<string>{19,32}</string>
			<key>textureRect</key>
			<string>{{1,1},{19,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlera.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,32}</string>
			<key>spriteSourceSize</key>
			<string>{19,32}</string>
			<key>textureRect</key>
			<string>{{1,35},{19,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlerb.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,32}</string>
			<key>spriteSourceSize</key>
			<string>{19,32}</string>
			<key>textureRect</key>
			<string>{{1,69},{19,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlerc.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,33}</string>
			<key>spriteSourceSize</key>
			<string>{19,33}</string>
			<key>textureRect</key>
			<string>{{1,103},{19,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlerd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,138},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlere.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,174},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlerf.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,210},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlerg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,246},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlerh.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,282},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idleri.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,33}</string>
			<key>spriteSourceSize</key>
			<string>{19,33}</string>
			<key>textureRect</key>
			<string>{{1,318},{19,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlerj.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,33}</string>
			<key>spriteSourceSize</key>
			<string>{19,33}</string>
			<key>textureRect</key>
			<string>{{1,353},{19,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>idlerk.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,34}</string>
			<key>textureRect</key>
			<string>{{1,388},{19,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>size</key>
		<string>{21,423}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0667c4d13a5b67df7089674b5605b84a:50944e53a8f7d29abc3fc7d78ee5ade4:821bd4ac96acb5b31bc33bc99dc9c983$</string>
		<key>realTextureFileName</key>
		<string>idler.png</string>
		<key>textureFileName</key>
		<string>idler.png</string>
	</dict>
</dict>
</plist>
