<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>runl1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{21,33}</string>
			<key>textureRect</key>
			<string>{{0,0},{21,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>runl2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{18,31}</string>
			<key>textureRect</key>
			<string>{{0,33},{18,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>runl3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{18,33}</string>
			<key>textureRect</key>
			<string>{{0,64},{16,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>runl4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{18,33}</string>
			<key>textureRect</key>
			<string>{{0,95},{18,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>runl5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{19,33}</string>
			<key>textureRect</key>
			<string>{{0,126},{19,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>runl6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{18,31}</string>
			<key>textureRect</key>
			<string>{{0,159},{18,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>runl7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{21,33}</string>
			<key>textureRect</key>
			<string>{{0,190},{19,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>runl8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,34}</string>
			<key>spriteSourceSize</key>
			<string>{21,30}</string>
			<key>textureRect</key>
			<string>{{0,221},{21,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>runl.png</string>
		<key>size</key>
		<string>{21,251}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b401c071c5f89695312ad63e75e2a5ce:97d98e8917abc65c888983e390578a78:51c372c1bb32418ca84ac26620e49540$</string>
		<key>textureFileName</key>
		<string>runr.png</string>
	</dict>
</dict>
</plist>
